<%- include('../includes/header.ejs') %> <%-
include('../includes/navigation.ejs') %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Final Projects </h3>
  </div>
  <div class="panel-body">
    <div>
      <a href="https://github.com/lmt20/ElectronJS-PomodoroTimer"> Pomodoro Timer </a> <br/>
      <a href="https://github.com/lmt20/ElectronJS-MonitorSystem"> Monitor System </a><br/>
      <a href="https://github.com/lmt20/ElectronJS-ToDoList"> To Do List </a><br/>
    </div>
  </div>
  
</div>

<%- include('../includes/footer.ejs') %>
