<%- include('../includes/header.ejs') %>
<nav class="navbar navbar-inverse galaxy-navigation-background">
    <a class="navbar-brand" href="/">Exercise_3</a>
    <ul class="nav navbar-nav">
      <li class=<%= path === 'task1' ? 'active' : ''%>>
        <a href="/task1"> Task_1</a>
      </li>
      <li class=<%= path === 'task2' ? 'active' : ''%>>
        <a href="/task2"> Task_2</a>
      </li>
    </ul>
    <div class="label-clock-task ">
        Simulating Clock
    </div>
    <div class="digital-clock" id="digitalClock"></div>
</nav>
  
<div class="panel-clock">  
    <div class="clock-containter">
        <div class="clock" id="clock">
            <div class="num num1">
                <div>1</div>
            </div>
            <div class="num num2">
                <div>2</div>
            </div>
            <div class="num num3">
                <div>3</div>
            </div>
            <div class="num num4">
                <div>4</div>
            </div>
            <div class="num num5">
                <div>5</div>
            </div>
            <div class="num num6">
                <div>6</div>
            </div>
            <div class="num num7">
                <div>7</div>
            </div>
            <div class="num num8">
                <div>8</div>
            </div>
            <div class="num num9">
                <div>9</div>
            </div>
            <div class="num num10">
                <div>10</div>
            </div>
            <div class="num num11">
                <div>11</div>
            </div>
            <div class="num num12">
                <div>12</div>
            </div>
    
            <div class="hand" id="sec">
                <div class="sec"></div>
            </div>
            <div class="hand" id="min">
                <div class="min"></div>
            </div>
            <div class="hand" id="hour">
                <div class="hour"></div>
            </div>
        </div>
    </div>
<script src="/js/exercise_3/task2_clock.js"></script>
<%- include('../includes/footer.ejs') %>