<%- include('../includes/header.ejs') %>
<%- include('../includes/navigation.ejs') %>


<div class="panel panel-default">
      <div class="panel-heading">
            <h3 class="panel-title">Task 1</h3>
      </div>
      <div class="panel-body">
        Write a simple JavaScript program to join all elements of the following array into a string. <br />
        Sample array : myColor = ["Red", "Green", "White", "Black"];<br />
        Expected Output :<br />
        "Red,Green,White,Black"<br />
        "Red,Green,White,Black"<br />
        "Red+Green+White+Black"<br />
      </div>
</div>
<div class="panel panel-success">
      <div class="panel-heading">
            <h3 class="panel-title">Solution</h3>
      </div>
      <div class="panel-body">
        <div class="m-15">
            <i class="fas fa-terminal"></i>
            <div class="output-system">Enter list of colors - seperated by 1 space character:</div>
        </div>
        <div class="m-15 input" >
            <i class="fas fa-angle-double-right"></i>
            <input class="input-system" type="text" placeholder="Ex: red green white black">
            <!-- <div class="input-system"> -->
        </div>
        <div class="m-15 output-display">
            <i class="fas fa-share-square icon-ouput-result"></i>    
            <textarea class="output-result"></textarea>
        </div>
         
      </div>
</div>
<script>
    const inputElement = document.getElementsByClassName("input-system")[0];
    const outputPanelElement = document.getElementsByClassName("output-display")[0];
    const outputContentElement = document.getElementsByClassName("output-result")[0];
    inputElement.addEventListener("keydown", function(event) {
        if (event.key === "Enter") {
            event.preventDefault();
            const input = inputElement.value.trim();

            const myColor = input.split(" ");
            const result = `myColor = ${JSON.stringify(myColor)}` + '\n'
                            + 'Output:\n'
                            +`"${myColor.join()}"` + '\n'
                            +`"${myColor.join(',')}"` + '\n'
                            +`"${myColor.join('+')}"`;
            outputPanelElement.setAttribute('style', 'display: block;');
            outputContentElement.value = result;
        }
    });
</script>


<%- include('../includes/footer.ejs') %>