<nav class="navbar navbar-inverse">
  <a class="navbar-brand" href="/">Exercise_3</a>
  <ul class="nav navbar-nav">
    <li class=<%= path === 'task1' ? 'active' : ''%>>
      <a href="/task1"> Task_1</a>
    </li>
    <li class=<%= path === 'task2' ? 'active' : ''%>>
      <a href="/task2"> Task_2</a>
    </li>
    
  </ul>
  <h4 class="navbar-link pull-right p20"> LMTruong</h4>
</nav>
