<nav class="navbar navbar-inverse">
  <a class="navbar-brand" href="/">Exercise_2</a>
  <ul class="nav navbar-nav">
    <li>
      <a href="/task1"> Task_1</a>
    </li>
    <li>
      <a href="/task1"> Task_2</a>
    </li>
    
  </ul>
  <h4 class="navbar-link pull-right p20"> LMTruong</h4>
</nav>
