<%- include('../includes/header.ejs') %>
<%- include('../includes/navigation.ejs') %>
<div class="panel panel-default">
    <div class="panel-heading">
          <h3 class="panel-title">Task1</h3>
    </div>
    <div class="panel-body">
          Simulate a calculator using class,inheritance, DOM manipulation.
    </div>
</div>
<div class="panel panel-primary">
      <div class="panel-heading">
            <h3 class="panel-title">Simulating</h3>
      </div>
      <div class="panel-body">
            <div class="container">
                    <div class="calculator">
                        <div class="display">0</div>
                        <div class="keyboard">
                            <div class="row">
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                    <button class="clearBt top-button">C</button>
                                </div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                    <button class="operator top-button revertBt">+/-</button>
                                </div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                    <button class="operator top-button">%</button>
                                </div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                    <button class="operator">/</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                    <button class="number">7</button>
                                </div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                    <button class="number">8</button>
                                </div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                    <button class="number">9</button>
                                </div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                    <button class="operator">x</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                    <button class="number">4</button>
                                </div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                    <button class="number">5</button>
                                </div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                    <button class="number">6</button>
                                </div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                    <button class="operator">-</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                    <button class="number">1</button>
                                </div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                    <button class="number">2</button>
                                </div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                    <button class="number">3</button>
                                </div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                    <button class="operator">+</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <button class="number zero">0</button>
                                </div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                    <button class="dot">.</button>
                                </div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                    <button class="operator">=</button>
                                </div>
                            </div>
                            
                        </div>
                    </div>
            </div>
            
      </div>
</div>

<script src="/js/exercise_2/task2_calculator.js"></script>

<%- include('../includes/footer.ejs') %>