<%- include('../includes/header.ejs') %>
<%- include('../includes/navigation.ejs') %>

<div class="panel panel-primary">
      <div class="panel-heading">
            <h3 class="panel-title">Simulating Calculator</h3>
      </div>
      <div class="panel-body">
            <div class="container">
                    <div class="calculator">
                        <div class="display">0</div>
                        <div class="keyboard">
                            <div class="row">
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                    <button class="clearBt operator top-button">C</button>
                                </div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                    <button class="operator top-button revertBt">+/-</button>
                                </div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                    <button class="operator top-button">%</button>
                                </div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                    <button class="operator">/</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                    <button class="number">7</button>
                                </div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                    <button class="number">8</button>
                                </div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                    <button class="number">9</button>
                                </div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                    <button class="operator">x</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                    <button class="number">4</button>
                                </div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                    <button class="number">5</button>
                                </div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                    <button class="number">6</button>
                                </div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                    <button class="operator">-</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                    <button class="number">1</button>
                                </div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                    <button class="number">2</button>
                                </div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                    <button class="number">3</button>
                                </div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                    <button class="operator">+</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <button class="number zero">0</button>
                                </div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                    <button class="dot">.</button>
                                </div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                    <button class="operator">=</button>
                                </div>
                            </div>
                            
                        </div>
                    </div>
            </div>
            
      </div>
</div>

<script>
    let memory1 = 0;
    let memory2 = 0;
    let processingOperator = null;
    let isBeginSecondOperand = false;
    let isResetCalculatorIfPressNumber = false;
    let isRightAfterOperator = false;

    let displayElement = document.getElementsByClassName('display')[0]

    // set event handler to numbers button
    let numberElements = document.getElementsByClassName('number');
    for(let i=0; i<numberElements.length; i++){
        numberElements[i].addEventListener('click', () => {
            if(isBeginSecondOperand){
                displayElement.innerHTML = parseFloat(numberElements[i].innerHTML);
                isBeginSecondOperand = false;
            }
            else{
                if(isResetCalculatorIfPressNumber){
                    isResetCalculatorIfPressNumber = false;
                    displayElement.innerHTML = parseFloat(numberElements[i].innerHTML);
                }
                else{
                    displayElement.innerHTML = parseFloat(displayElement.innerHTML + numberElements[i].innerHTML);
                }
            }
        })
    }

    //set event handler to dot button
    let dotElement = document.getElementsByClassName('dot')[0];
    dotElement.addEventListener('click', () => {
        if(isBeginSecondOperand){
                displayElement.innerHTML = 0 + dotElement.innerHTML;
                isBeginSecondOperand = false;
            }
            else{
                if(isResetCalculatorIfPressNumber){
                    isResetCalculatorIfPressNumber = false;
                    displayElement.innerHTML = 0 + dotElement.innerHTML;
                }
                else{
                    displayElement.innerHTML = displayElement.innerHTML + dotElement.innerHTML;
                }
            }
    })

    //set event handler to clear button
    let clearElement  = document.getElementsByClassName('clearBt')[0];
    clearElement.addEventListener('click', () => {
        displayElement.innerHTML = 0;
        memory1 = 0;
        memory2 = 0;
        processingOperator = null;
        isBeginSecondOperand = false;
        isResetCalculatorIfPressNumber = false;
    })

    //set event handler to switch +/- button (the sign of number displayed on screen will
    //  be reverted)
    let revertElement = document.getElementsByClassName('revertBt')[0];
    revertElement.addEventListener('click', () => {
        displayElement.innerHTML = -parseFloat(displayElement.innerHTML);
    })
    


    //set event handler to operator button
    let operatorElements = document.getElementsByClassName('operator');
    for(let i=0; i<operatorElements.length; i++){
        operatorElements[i].addEventListener('click', () => {
            let operator = operatorElements[i].innerHTML;
            isRightAfterOperator = true;
            // operatorElements[i].setAttribute('class', 'operator');
            switch (operator) {
                case '+':
                    memory1 = parseFloat(displayElement.innerHTML);
                    // operatorElements[i].setAttribute('class', 'operator active-operator');
                    processingOperator = '+';
                    isResetCalculatorIfPressNumber = false;
                    isBeginSecondOperand = true;
                    break;
                case '-':
                    memory1 = parseFloat(displayElement.innerHTML);
                    // operatorElements[i].setAttribute('class', 'operator active-operator');
                    processingOperator = '-';
                    isResetCalculatorIfPressNumber = false;
                    isBeginSecondOperand = true;
                    break;
                case 'x':
                    memory1 = parseFloat(displayElement.innerHTML);
                    // operatorElements[i].setAttribute('class', 'operator active-operator');
                    processingOperator = 'x';
                    isResetCalculatorIfPressNumber = false;
                    isBeginSecondOperand = true;
                    break;
                case '/':
                    memory1 = parseFloat(displayElement.innerHTML);
                    // operatorElements[i].setAttribute('class', 'operator active-operator');
                    processingOperator = '/';
                    isResetCalculatorIfPressNumber = false;
                    isBeginSecondOperand = true;
                    break;
                case '%':
                    memory1 = parseFloat(displayElement.innerHTML);
                    // operatorElements[i].setAttribute('class', 'operator active-operator');
                    processingOperator = '%';
                    isResetCalculatorIfPressNumber = false;
                    isBeginSecondOperand = true;
                    break;
                case '=':
                    let memory2 = parseFloat(displayElement.innerHTML);
                    let result;
                    isResetCalculatorIfPressNumber = true;
                    switch (processingOperator) {
                        case '+':
                            result = memory1 + memory2;
                            memory1 = result;
                            memory2 = 0;
                            displayElement.innerHTML = result;
                            processingOperator = null;
                            break;
                        case '-':
                            result = memory1 - memory2;
                            memory1 = result;
                            memory2 = 0;
                            displayElement.innerHTML = result;
                            processingOperator = null;
                            break;
                        case 'x':
                            result = memory1 * memory2;
                            memory1 = result;
                            memory2 = 0;
                            displayElement.innerHTML = result;
                            processingOperator = null;
                            break;
                        case '/':
                            result = memory1 / memory2;
                            memory1 = result;
                            memory2 = 0;
                            displayElement.innerHTML = result;
                            processingOperator = null;
                            break;
                        case '%':
                            result = memory1 % memory2;
                            memory1 = result;
                            memory2 = 0;
                            displayElement.innerHTML = result;
                            processingOperator = null;
                            break;
                        default:
                            break;
                    }
                    break;
            
                default:
                    break;
            }
        })
    }
    // console.log(memory);
    // function calculator() {
    //     try {
    //         var width =  parseInt(document.getElementById("width").value);
    //         var height = parseInt(document.getElementById("height").value);
    //         var rectangle = document.getElementById('rectangle')
    //         rectangle.setAttribute("width", width);
    //         rectangle.setAttribute("height", height);
    //         //send to server asynchronously
    //         fetch('/task1/calculate', {
    //             method: 'post',
    //             headers: {
    //             "Content-type": "application/x-www-form-urlencoded; charset=UTF-8"
    //             },
    //             body: `width=${width}&height=${height}`
    //         })
    //         .then(response => {
    //             return response.json();
    //         })
    //         .then(data => {
    //             console.log(data);
    //             document.getElementById("rectangleArea").innerHTML = data.area;
    //         })
    //         .catch(err => {
    //             console.log(err);
    //         })
    //     } catch (error) {
    //         console.log(error);
    //     }
        
    // }
    // function calAreaSquare() {
    //     try {
    //         var size =  parseInt(document.getElementById("size").value);
    //         var square = document.getElementById('square')
    //         square.setAttribute("width", size);
    //         square.setAttribute("height", size);
    //         fetch('/task1/calculate', {
    //             method: 'post',
    //             headers: {
    //             "Content-type": "application/x-www-form-urlencoded; charset=UTF-8"
    //             },
    //             body: `size=${size}`
    //         })
    //         .then(response => {
    //             return response.json();
    //         })
    //         .then(data => {
    //             // console.log(data);
    //             document.getElementById("squareArea").innerHTML = data.area;
    //         })
    //         .catch(err => {
    //             console.log(err);
    //         })  
    //     } catch (error) {
    //         console.log(error);
    //     }
    // }
</script>

<%- include('../includes/footer.ejs') %>